.hero {
  background-image: url(../assets/community-bg.jpg);
  width: 100%;

}
a:hover, a:visited, a:link, a:visited, a{
  text-decoration: none;
  color: #ffffff;
}

.intend-act {
  font-size: 35px;
  padding-left: 520px;
  font-family:'Prata', serif;
}

.title.header {
  font-family: 'Prata', serif;
  line-height: 62px;
	font-style: normal;
	font-weight: normal;
	font-size: 85px;
	letter-spacing: -0.01em;
  color: #ffffff;
  padding-top: 20px;

}

.subtitle {
  font-family: 'Prata', serif;
  line-height: 0.2rem;
	font-size: 65px;
  color: #ffffff;
  text-align: right;


}

.floatLeft {
  position: absolute;
  float:left;
  margin-left:20px;
  height: 400px;


}
