.hero {
  background-image: url(../assets/community-bg.jpg);
  width: 100%;
  /* height: 190px; */

}
a:hover, a:visited, a:link, a:visited, a{
  text-decoration: none;
  color: #ffffff;
}



.title.header {
  font-family: 'Prata', serif;
  line-height: 72px;
	font-style: normal;
	font-weight: normal;
	font-size: 85px;
  letter-spacing: -0.01em;
  text-emphasis: right;
  color: #ffffff;
  text-align: right;
  padding-top: 20px;

}

