.hero {
  background-image: url(../assets/journey-bg.jpg);
  width: 100%;
  height: 210px;
  padding: 5px;
  
}

.hero.body {
  padding: 20px;
}

a:hover, a:visited, a:link, a:visited, a{
  text-decoration: none;
  color: #ffffff;

}



.title.header {
  font-family: 'Prata', serif;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  line-height: 65px;
	font-size: 85px;
	letter-spacing: -0.001em;
  color: #ffffff;
  margin: 0.6px;

}

.tile {
  font-family: 'Chivo', sans-serif;
  letter-spacing: -0.05em;
  color: #ffffff;
  font-size: 55px;
}


.container.tiles {
  padding-top: 10px;
	padding-right: 100px;
}

.getting-started {
  background: rgba(183, 141, 226, 0.64);
}

.new-intention {
  background-image: url(../assets/intention-bg.jpg);
}

.find-trainings {
  background-image: url(../assets/trainings-bg.jpg);
}

.reflections {
  background-image: url(../assets/reflection-bg.jpg);
}

.tile.box.getting-started {
  position: absolute;
	width: 242px;
	height: 212px;
  left: 97px;
  top: 300px;
  padding: 20px;

}

.tile.box.new-intention {
  position: absolute;
	width: 242px;
	height: 212px;
  left: 440px;
	top: 280px;
  
}
.tile.box.find-trainings {
  position: absolute;
	width: 242px;
	height: 212px;
  left: 101px;
  top: 567px;
 
}

.tile.box.reflections {
  position: absolute;
	width: 242px;
	height: 212px;
  left: 460px;
	top: 550px;
}


.floatRightPencil {
  position: absolute;
  float:right;
  margin-left:20px;
  height: 40px;
  transform: rotate(160deg);
  left: 670px;
  top: 170px;
  /* padding: 20px;
  left: 0%;
  right: 19.91%;
  top: 10.97%;
  bottom: 21.97%; */
}

.floatRightPaper {
  float: left;
  position: absolute;
  left:  970px;
  top: 310px;
  transform: rotate(-12deg);
  height: 450px;

}
