.hero {
  background-image: url(../assets/community-bg.jpg);
  width: 100%;

}
a:hover, a:visited, a:link, a:visited, a{
  text-decoration: none;
  color: #ffffff;
}

.intend-act {
  font-size: 35px;
  padding-left: 520px;
  font-family:'Prata', serif;
}

.title.header {
  font-family: 'Prata', serif;
  line-height: 62px;
	font-style: normal;
	font-weight: normal;
	font-size: 85px;
	letter-spacing: -0.01em;
  color: #ffffff;
  padding-top: 20px;

}

.subtitle {
  font-family: 'Prata', serif;
  line-height: 0.2rem;
	font-size: 65px;
  color: #ffffff;
  text-align: right;


}


.floatLeft {
  position: absolute;
  float:left;
  margin-left:20px;
  height: 400px;


}

.previous-questions {
  background:#FF7438;
  position: absolute;
	width: 675px;
	height: 70px;
  left: 600px;
  top: 350px;
  font-size: 50px;
  font-family: 'Prata', serif;
  line-height: 70px;
  color: white;

}

.infoTable {
  position: absolute;
  font-size: 25px;
  width: 895px;
  height: 78px;
  left: 600px;
  top: 437px;
}

#question-header {
  background: #FF7438;
  position: absolute;
	width: 675px;
	height: 70px;
  left: 600px;
  top: 200px;
  font-family: 'Prata', serif;
  font-size: 50px;
  color: white;
}

#enter-question {
  width: 610px;
  top: 290px;
  left: 600px;
  height: 40px;
  font-size: large;
  position: absolute;

}

.search {
  height: 40px;
  font-size: medium;
  width: 55px;
  position: absolute;
  left: 1220px;
  top: 290px;

}