.hero {
  background-image: url(../assets/journey-bg.jpg);
  width: 100%;

}
a:hover, a:visited, a:link, a:visited, a{
  text-decoration: none;
  color: #ffffff;
}

.intend-act {
  font-size: 35px;
  padding-left: 520px;
  font-family:'Prata', serif;
}

.title.header {
  font-family: 'Prata', serif;
  line-height: 62px;
	font-style: normal;
	font-weight: normal;
	font-size: 85px;
	letter-spacing: -0.01em;
	color: #ffffff;

}

.subtitle {
  font-family: 'Prata', serif;
  line-height: 0.2rem;
	font-size: 65px;
  color: #ffffff;
  text-align: right;

}

.floatRightPencil {
  position: absolute;
  float:right;
  margin-left:20px;
  height: 18px;
  transform: rotate(145deg);
  left: 1100px;
  top: 510px;
  z-index: 2;

}

.floatRightPaper {
  float: left;
  position: absolute;
  left:  1000px;
  top: 380px;
  transform: rotate();
  height: 405px;
  z-index: 1;

}