.hero {
  background-image: url(../assets/journey-bg.jpg);
  width: 100%;
  /* height: 190px; */

}
a:hover, a:visited, a:link, a:visited, a{
  text-decoration: none;
  color: #ffffff;
  text-align: left;
}



.title.header {
  font-family: 'Prata', serif;
  line-height: 62px;
	font-style: normal;
	font-weight: normal;
	font-size: 85px;
	letter-spacing: -0.01em;
	color: #ffffff;
	padding-top: 20px;

}

.tile {
  font-family: 'Chivo', sans-serif;
  letter-spacing: -0.05em;
  color: #ffffff;
  font-size: 42px;
  display: inline-block;
}

.subtitle {
  font-family: 'Prata', serif;
  line-height: 0.2rem;
	/* font-style: normal;
	font-weight: normal; */
	font-size: 65px;
	/* letter-spacing: -0.01em; */
  color: #ffffff;
  text-align: right;

}

.container.tiles {
  padding-top: 10px;
	padding-right: 100px;
}

.new-reflection {
  background-image: url(../assets/reflection-bg.jpg);
}

.tile.new-reflection {
  position: absolute;
	width: 775px;
	height: 88px;
    left: 33px;
	top: 287px;
}

.previous-reflections {
  background: #D1B6ED;
}

.tile.previous-reflections {
  position: absolute;
	width: 775px;
	height: 1px;
    left: 33px;
	top: 487px;
}

.floatRightPencil {
   position: absolute;
   float:right;
   margin-left:20px;
	height: 18px;
	transform: rotate(445deg);
    left: 1100px;
	top: 510px;
	z-index: 2;
}

.floatRightPaper {
   position: absolute;
   float:left;
	height: 405px;
	transform: rotate(0);
    left: 1000px;
	top: 380px;
	z-index: 1;
}